body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 70%;
}

.flex{
    display: flex;
}

header{
    position: relative;
    height:500px;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.justify{
    justify-content: space-between;
}
header .container a, header .container{
    color: white;
    text-decoration: none;
    padding: 20px 0;
}
header .container a{
    margin-right: 20px;
}
header .container a:last-child{
    margin-right: 0;
}
.mt-32{
    margin-top: 2em;/*32px;*/
}
.bg_overlay{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top:0;
}
.center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}
.center h3{
    color: white;
}
.center div:first-child{
    width: 20%;
}
.center div:first-child img{
    width: 100%;
}
.forward{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.input__container{
    width: 50%;
}
.input__container .input__format{
    border-radius: 10px ;
    width: 100%;
    padding: 15px;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.card{
    border-radius: 20px;
    border: 1px solid #b6b6b6;
}
.card_header{
    height: 10em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("https://b.zmtcdn.com/webFrontend/95f005332f5b9e71b9406828b63335331585809309.png");
    background-position: center;
}
.card_body{
    padding: 20px;
}
.card_body h4{
    margin: 0;
}
.card_body p{
    margin: 0;
}
.top__content h2{
    margin: 0;
    padding-top: 80px;
    font-size: 40px;
    font-weight: initial;
}
.top__content .flex{
    align-items: center;
    justify-content: space-between;
}
.top__content .flex a{
    text-decoration: none;
    color: red;
}
.top__content .grid{
    grid-template-columns: repeat(4, 1fr);
}
.card-img{
    background-image: url('https://b.zmtcdn.com/data/collections/1b8c164e8a18878468d8aabeb0b486b1_1625812715.jpg?output-format=webp');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}
.card-img .bg_overlay{
    background-color: rgba(0,0,0,0.6);
}
.card-img-body{
    position: absolute;
    color: white;
    bottom: 0;
    text-transform: capitalize;
    padding-left: 20px;
    padding-bottom: 10px;
}
.card-img-body h4, .card-img-body p{
    margin: 0;
    font-weight: lighter;
    font-size: 20px;
}